html {
    scroll-padding-top: 35px;
}

div.parallax img {
    width: 100%;
    height: auto;
}

img.responsive-img {
    background-size: 100% auto;
    background-repeat: no-repeat;
}

div.resumeModal {
    max-height: 100%;
    height: 80%;
    width: 100%;
}
div.resumeContent {
    height: 100%;
}
img.resumePreview {
    max-width: 100%;
}

div.contactLogos {
    display: flex;
    justify-content: space-evenly;
}

div.contactLogos i {
    font-size:60px;
}
a.phoneNumber {
    display: none;
    text-align: right;
}

a.emailAddress {
    display: none;
    text-align: center;
}

div.slider ul.indicators li.indicator-item {
    background-color: blue;
}

div.slider ul.indicators li.indicator-item.active {
    background-color: yellow;
}

@media screen and (max-width: 550px) {
    a.brand-logo,
    a.sidenav-trigger i.material-icons {
        font-size: 20px;
    }
}